.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #2a7fd4;
}

.basicc {
  background: #EEE2DC;
}

.card {
  background-color: aquamarine;
}


/* footer { 
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */